.image-acceuil {
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Séparateurs*/
hr {
    height: 3px;
    border: 0;
    margin: 50px 80px 50px 80px;
    background-image: linear-gradient(90deg, transparent, #7e895c, transparent);
    }

/*Body*/
section {
    text-align: center;
}

Section a:visited {
    color: royalblue;
}

h1 {

    font-family: Corinthia, cursive;
    color: orange;
    font-size: 3em;
    margin-bottom: 12px;
}

/*Présentation*/
 #presentation {
    margin-top: 50px;
    font-family: Helvetica, sans-serif;
}

/* .texte-acceuil {
    font-family: Corinthia, cursive;
    font-size: 5.5em;
    color: white;
    text-align: center;
} */ /*Voir si besoin de mettre le texte au centre*/
