* {
    margin: 0;
}

/*En tête de page*/
nav {
    background: linear-gradient(180deg, black, #303030, #606060);
    height: 5em;
    color: orange;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.nav-milieu a,
.nav-droite a {
    text-decoration: none;
    color: orange; 
    font-family: Corinthia, cursive;
    font-size: 2.5em;
    margin: 0px 25px 0px 25px;
}

nav a:visited {
    color: orange;
}

#logo-flore {
    height: 3.2em
}

/*Pied de page*/
footer {
    background: linear-gradient(360deg, black, #303030, #606060);
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 10px;
}

footer h4 {
    color: orange;
    font-size: 1.3em;
    margin-bottom: 20px;
}

.footer-main {
    margin: 20px 50px 20px 50px ;
    text-align: center;
}

#bouton-footer-contact {
    background-color: #7e895c;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px 10px 25px;
    border: 3px solid orange;
    border-radius: 10px;
    box-shadow: 4px 4px 0px rgba(126, 137, 92, 0.5);
}

.info-add {
    text-align: start;
    margin: 5px;
}

#home-icone {
    vertical-align: middle;
    height: 25px;
}

#call-icone {
    vertical-align: middle;
    height: 25px;
}

#link-reseaux {
    text-decoration: underline;
    margin-bottom: 10px;
}

#facebook-icone {
    height: 40px;
    margin-right: 12px;
}

#insta-icone {
    height: 40px;
    margin-left: 12px;
}

footer a:visited {
    color: white;
}

footer a {
    text-decoration: none;
}