* {
    margin: 0;
}

nav {
    background: linear-gradient(180deg, black, #202020, #505050);
    height: 5em;
    color: orange;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: orange; 
    font-family: Corinthia, cursive;
    font-size: 2em;
    border-radius: 25%;
    padding: 8px 12px 8px 12px;
    border: 2.5px black Solid;
    background-color: #7E895C;
    margin: 0px 30px 0px 30px;
}

nav a:visited {
    color: orange;
}

